:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  min-width: 100vw;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  color-scheme: light dark;
  color: #213547;
  background-color: #ffffff;


}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;

}

body {
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: grey;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
  background-color: rgb(82, 82, 82);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
.button-area {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.app {
  max-width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;


}
.sol-parent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 2rem;
}
.solution-div {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  width: 15rem;
  align-items: start;
  justify-content: start;
  text-align: left;
}

.top-checkbox {
  margin-left: 20px;
  font-weight: bold;
  align-items: start;
  justify-content: start;
}

.bottom-checkboxs {
  align-items: start;
  padding: 0;
}

.bottom-checkbox {
  align-items: start;
}

